		/* StyleSheet.css by Chris Pajtas */
		
		/* Used for the Body */
		body.main {
			background-color:#DFE7E0;
			color:#000000;
		}
		
		/* From here to next comment is for headers and about me
		paragraph titles */
		p.headerTitle {
			text-align:center;
			font-family: Arial, Helvetica, sans-serif;
			color:#DCD3BE;
			font-size:45px;
			font-weight:bold;
			
		}
		
		p.headerName {
			text-align:center;
			font-family: Arial, Helvetica, sans-serif;
			color:#A1B2A4;
			font-size:30px;
			font-weight:bold;
		}
		
		p.pTitle {
			color:#DCD3BE;
			font-family: Arial, Helvetica, sans-serif;
			text-align:center;
			font-size:30px;
			font-weight:bold;
		}
		/* next code */
		
		table.widen {
			width:100%;
			border-collapse:collapse;
			border: 15px black solid;
		}
		
		table.menu {
			width:100%;
			border-collapse:collapse;
			border: 5px black solid;
		}
		
		td.setBlack {
			border:2px solid black;
		}
		
		td.setBlackParagraph {
			border:2px solid black;
			width:75%;
		}
		
		td.extend {
			border:2px solid black;	
			width:75%
			
		}
		
		td.picShort {
			width:25%;
			border:2px solid black;
		}
		
		td.titleWidth {
			width:20%;
			border:2px solid black;
		}
		
		img.image {
			width:400px;
			float:right;
		}
		
		img.size {
			width:200px;
		}
		
		div.center {
			text-align:center;
		}
		
		h3.projectTitle {
			color:#FFFAEF;
			
		}
		
		li.navli {
			float:left;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		
		p.paragraphs {
			text-align:left;
			padding-left: 25px;
			padding-right: 25px;
		}
		
		p.footerDate {
			text-align:left;
		}
		
		hr.bar {
			border-color:#64697C;
			background-color:#303548;
			height:3mm;
		}
		
		ul.bulletPoint {
			padding-left: 50px;
			padding-right: 25px;
		}
		
		ul.removeBullet {
			list-style-type:none;
			margin:0;
			padding:0;
			width:60px;
		}
		
		ul.topnav {
			list-style-type:none;
			background-color: #A1B2A4;
			overflow:hidden;
			position:sticky;
			display:floating;
		    height:58px;
			width:100%;
			margin:0;
			padding:0;
			
		}
		
		div.body {
			height:auto;
			width:100%;
		}
		
		li.aboutfloatright {
			float:right;
			display: block;
			padding: 8px;
			background-color: #000000;
		}
		
		li.allli {
			float: left;
			display: block;
			background-color: #A1B2A4;
		}

		a.notselected {
			display: block;
			padding: 20px;
			color: white;
			background-color: #A1B2A4;
			text-decoration:none;
		}
		
		a.notselected:visited {
			color:white;
		}
		
		.topnav a:hover {
			background-color: #B7D7BD;
			color:white;
		}
		
		.topnav a:active {
			background-color: #B7C6BA;
			color:white;

		}
		
		.topnav topnav:visited a:visited{
			float:left;
			color: white;
			text-align:center;
			text-decoration:none;
			font-size: 17px;
			height:58px;
			
		}

		.active{
			background-color: #B7C6BA;
			display:block;
			padding:20px;
			text-align: center;
			text-decoration:none;
		}
		a:link {
			color:black;
		}

		.active:visited {
			color:white;
		}
		
		a:link {
			color:black;
		}
		
		a:visited {
		    color:#A1B2A4;
		}
		
		a:hover {
			color: #9BC9A3;
		}
		
		a:active {
			color: #DCD3BE;
		} 
		
		.collapsible {
			width:100%;
			height: 58px;
			text-align:left;
			background-color:#A1B2A4;
			cursor:pointer;
			padding:18px;
			color:white;
			border:5px;
		}
		
		.collapsible:hover {
			background-color:#B7D7BD;
		}
		
		.activec, .collapsible:after {
			content: '\02795'; /* Unicode character for "plus" sign (+) */
			color: white;
			float: right;
			margin-left: 5px;
		}

		.activec:after {
			content: "\2796"; /* Unicode character for "minus" sign (-) */
		}
		
		.content {
			padding: 0 18px;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			border: 0px;
		}
		
		.header {
			width:100%;
			height:80px;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
	
		