		/* StyleSheet.css by Chris Pajtas */
		
		/* Used for the Body */
		body.main {
			background-color:#64697C;
			color:#FFFFFF;
		}
		
		/* From here to next comment is for headers and about me
		paragraph titles */
		p.headerTitle {
			text-align:center;
			font-family: Arial, Helvetica, sans-serif;
			color:#DCD3BE;
			font-size:45px;
			font-weight:bold;
			
		}
		
		p.headerName {
			text-align:center;
			font-family: Arial, Helvetica, sans-serif;
			color:#DCD3BE;
			font-size:30px;
			font-weight:bold;
		}
		
		p.pTitle {
			color:#DCD3BE;
			font-family: Arial, Helvetica, sans-serif;
			text-align:center;
			font-size:30px;
			font-weight:bold;
		}
		/* next code */
		
		table.widen {
			width:100%;
			border-collapse:collapse;
			border: 15px black solid;
		}
		
		table.menu {
			width:100%;
			border-collapse:collapse;
			border: 5px black solid;
		}
		
		td.setBlack {
			border:2px solid black;
		}
		
		td.setBlackParagraph {
			border:2px solid black;
			width:75%;
		}
		
		td.extend {
			border:2px solid black;	
			width:75%
			
		}
		
		td.picShort {
			width:25%;
			border:2px solid black;
		}
		
		td.titleWidth {
			width:20%;
			border:2px solid black;
		}
		
		img.image {
			width:400px;
			float:right;
		}
		
		img.size {
			width:200px;
		}
		
		div.center {
			text-align:center;
		}
		
		h3.projectTitle {
			color:#FFFAEF;
			
		}
		
		li.navli {
			float:left;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		
		p.paragraphs {
			text-align:left;
			padding-left: 25px;
			padding-right: 25px;
		}
		
		p.footerDate {
			text-align:left;
		}
		
		hr.bar {
			border-color:#64697C;
			background-color:#303548;
			height:3mm;
		}
		
		ul.bulletPoint {
			padding-left: 50px;
			padding-right: 25px;
		}
		
		ul.removeBullet {
			list-style-type:none;
			margin:0;
			padding:0;
			width:60px;
		}
		
		ul.topnav {
			list-style-type:none;
			background-color: #000000;
			overflow:hidden;
			position:fixed;
			top: 0px;
			height:50px;
			width:100%;
			margin:0;
			padding:0;
		}
		
		div.body {
			padding:20px;
			margin-top:30px;
			height:auto;
		}
		
		li.aboutfloatright {
			float:right;
			display: block;
			padding: 8px;
			background-color: #000000;
		}
		
		li.allli {
			float: left;
			display: block;
			padding: 8px;
			background-color: #000000;
		}

		a.notselected {
			display: block;
			padding: 8px;
			background-color: #000000;
		}
		
		.topnav a:hover {
			background-color: #DCD3BE;
			color:black;
		}
		
		.topnav a.active {
			background-color: #64697C;
			color:white;
		}
		
		.topnav a {
			float:left;
			color: #f2f2f2;
			text-align:center;
			padding:14px 16px;
			text-decoration:none;
			font-size: 17px;
		}

		.active {
			background-color: #64697C;
			display:block;
			color:white;
			text-align: center;
			padding: 14px 16px;
			text-decoration:none;
		}
		
		a:link {
			color:#DCD3BE;
		}
		
		a:visited {
		    color:#DCD3BE;
		}
		
		a:hover {
			color: lightgray;
		}
		
		a:active {
			color: #DCD3BE;
		}
		